<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .imgLogo {
        width: 72px;
        height: 72px;
        margin-right: 14px;
      }
      .titleName {
        color: rgb(53, 137, 234);
        font-size: 31px;
        line-height: 29px;
        font-family: Arial;
      }
      .container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        .main {
          flex: 1;
        }
      }
    </style>
  </head>

  <body class="container">
    <header>
      <div style="display: flex">
        <div>
          <img
            class="imgLogo"
            src="https://d3bl3hwjxdwafi.cloudfront.net/intellIOT.png"
          />
        </div>
        <br /><br />
        <div class="titleName">intellIoT <br />Platform<br /></div>
      </div>
    </header>

    <main class="main">
      <div class="title">
        <p>Dear Mr./Mrs./Ms. <%= firstName %>,</p>
        <div></div>

        <p>
          We got a request to reset your password. Follow the instructions below
          to complete the reset process:
        </p>
        <div></div>

        <p>
          Please click the link below to access the password reset page:
          <a href="<%= createNewPasswordLink %>">
            <%= createNewPasswordLink %>.
          </a>
        </p>
        <div></div>

        <p>
          Please input the email address linked to your account and follow the
          provided instructions to reset your password.
        </p>
        <div></div>

        <p>
          If you didn't request this password reset, please contact our customer
          support team right away at
          <a href="mailto:<%= emailSupport %>"> <%= emailSupport %> </a> to
          report this issue.
        </p>
        <div></div>

        <p>Best regards,</p>
      </div>
    </main>
  </body>
</html>
